{{# each course}}

<h2 style="color:crimson;font-family:fantasy;margin-left:109px;">Course No. {{@index}}</h2>
<div class="row" style="margin-top:10px;">

    <div class="col-md-3 col-md-offset-1" >

        <img src="/{{this.courseLogo}}" class="img-responsive"
        style="width:100%;height:450px;border:4px solid silver;margin-top:60px;" alt="Image">
        <br><br>
        <button class="btn btn-info">${{this.price}}</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button class="btn btn-info">Add to Cart</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button class="btn btn-info">Buy Now</button>

    </div>

    <div class="col-md-6 col-md-offset-1 ">

        <h2 class="page-header text-center">
            Course Overview
        </h2>

        <ul class="list-group">
            <li class="list-group-item list-group-item-info">Course Name : {{this.courseName}}</li>
            <li class="list-group-item list-group-item-success">Course Type : {{this.type}}</li>
            <li class="list-group-item list-group-item-warning">Price : ${{this.price}}</li>
            <li class="list-group-item list-group-item-danger">Course Duration : {{this.period}} Months</li>
            <li class="list-group-item list-group-item-success">Course Instructor : {{this._offeredBy}}</li>

        </ul>
        <h2 class="page-header text-center">
            Course Details
        </h2>
        <p style="color:maroon;font-family:cursive;font-size:16px;">{{this.courseDetails}}</p>

    </div>

</div>

{{/each}}
